body{
    background-image: url('./assets/images/background/background.jpg');
    background-size: cover;
    }
.big_levels_div{
    display: flex;
    flex-direction: row;
    position: absolute;

}
.levels{
    position: relative;
    width: 255px;
    height: 380px;
    margin-top: 10%;
    left:13%;
    margin-left:7%;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border-radius: 30px;
    box-shadow: 20px 0 10px rgba(0,0,0,0.5);
}

.level_buttons{
    width: 80%;
    height: 40px;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top:20%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 30px;
    outline:none;
    opacity: 1;
    font-size: 17pt;
    font-style: italic;
    color:black;
    z-index: 2;
}
.level_buttons:hover{
    border-color: honeydew;
    opacity: 0.9;
}

.chapters_label{
    margin-left: 30%;
    transform: translate(-50%,0);
    margin-top: 20%;
    font-size: 20pt;
    color: #00FF00;
    font-weight: 800;
}
#chapter_1{
    background-image: url('./assets/images/background/chapter_1.jpg');
    background-size: cover;
}
#chapter_2{
    background-image: url('./assets/images/background/chapter_4.jpg');
    background-size: cover;
}
#chapter_3{
    background-image: url('./assets/images/background/chapter_2.jpg');
    background-size: cover;
}
#chapter_4{
    background-image: url('./assets/images/background/chapter_3.jpg');
    background-size: cover;
}
#chapter_5{
    
    background-size: cover;
}
.bonus_level_button{
    margin-top: 41%;
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 20%;
    height: 40px;
    background-image: linear-gradient(315deg, #FFFF00 0%, #f0d508 74%);
    border-radius: 30px;
    outline:none;
    opacity: 1;
    font-size: 17pt;
    font-style: italic;
    color:black;
    box-shadow:0 0 40px #FFFF00;
}

.bonus_level_button:hover{
    border-color: honeydew;
    opacity: 0.9;
}
.block{
    background-image: linear-gradient(315deg, gray 0%, gray 74%);
   z-index: 999;
}
.user{
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: row;
}