body{
margin: 0;
margin-left:  50%;
transform: translate(-50%,0px);
background-image: url('./assets/images/background/background.jpg');
background-size: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.menu_buttons{
    margin-left:  55%;
    transform: translate(-50%,0px);
    margin-top: 25%;
    width: 200px;
    height: 50px;
    background-color: #CD853F	;
    border-radius: 30px;
    outline:none;
    opacity: 1;
    font-size: 17pt;
    font-style: italic;
    color:#FFF44F;
}
#missions_button{
    margin-top: 5%;
}
.menu_buttons:hover{
    border-color: honeydew;
    opacity: 0.9;
}

#registration{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    background-color: #CD853F;
    border-radius: 10px;
    text-align: center;
}

#authorization{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 130px;
    margin-left: 40%;
    background-color: #CD853F;
    border-radius: 10px;
    text-align: center;
}
.about{
    position: absolute;
    text-align: center;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0);
    width: 600px;
    height: 550px;
    font-size: 21pt;
    border-radius: 10px;
    color:white;
    opacity: 1;
}
.parent_about{
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translate(-50%,0);
    width: 150%;
    height: 620px;
    font-size: 21pt;
    border-radius: 10px;
    background-color: rgba(0, 120, 201, 0.7);
}

.reg_error{
    position: absolute;
    left: 10%;
    font-size: 15pt;
    color: red;
}
.login_error{
    position: absolute;
    left: 74%;
    bottom: 35%;
    font-size: 15pt;
    color: red;
}

.table{
border-radius: 10px;
}
p{
    font-size: 20pt;
    color:white;
    text-align: center;
}
.rows{
display:flex;
flex-direction: row;
}
.cells{
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 65px;
    background-color: grey;
    margin-top: 3px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.white{
    background-color: white;
}