body{
    display: flex;
    flex-direction: row;
    background-image: url('../../assets/images/background/extreme.jpg');
    background-size: cover;
}
.timer{
    position: absolute;
    top: 5%;
    left: -20px;
}

.game_field{
    margin-top: 300px;
    margin-left:  11%;
}
.rules{
    position: relative;
    margin-top: 130px;
    left: 5%;
    width:200px;
    height: 300px;
    background-color: #CD853F;
    border-radius: 40px;
    outline:none;
    opacity: 1;
    font-size: 17pt;
    font-style: italic;
    color:#FFF44F;
    box-shadow:0 0 40px black;
}
.menu_buttons{
    margin-left:  55%;
    transform: translate(-50%,0px);
    margin-top: 25%;
    width: 200px;
    height: 50px;
    background-color: #CD853F	;
    border-radius: 30px;
    outline:none;
    opacity: 1;
    font-size: 17pt;
    font-style: italic;
    color:#FFF44F;
}
.span-text{
    position: relative;
    left: 34%;
    margin-top: 10%;
    font-size: 40pt;
    color:black;
}
.invisible{
    display: none;
}
.visible-game_complete{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128, 0.5);
}

.visible-game_over{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128, 0.5);
}
#child-game_over{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:10%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 200px;
    border-radius: 30px;
    border-radius: 30px;
}
#child-game_complete{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:5%;
    margin-left: 48%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 200px;
    border-radius: 30px;
}
.buttons-div{
    display: flex;
    flex-direction: row;
}
.menu-button{
    position: absolute;
    background-color: yellow;
    background-size: cover;
    margin-left: 53%;
    transform: translate(-50%,0);
    width: 120px;
    height: 90px;
    border-radius: 10px;
    color: black;
    font-size: 20pt;
}
.menu-button-over{
    position: absolute;
    background-color: red;
    background-size: cover;
    margin-left: 53%;
    transform: translate(-50%,0);
    width: 120px;
    height: 90px;
    border-radius: 10px;
    color: black;
    font-size: 20pt;
}
.win{
    font-size: 100pt;
    text-shadow: 1px 1px 1px yellow,
               -1px 1px 1px yellow;
  color: yellow;
}

.next-button{
    position: absolute;
    background-color: yellow;
    background-size: cover;
    margin-left: 25%;
    transform: translate(-50%,0);
    width: 120px;
    height: 90px;
    border-radius: 10px;
    color: black;
    font-size: 20pt;
}

.purple{
    color: indigo;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.blue{
    color: blue;
}
.red{
    color: red;
}

.record{
    position: absolute;
    right: 1%;
    color: yellow;
    font-size: 30pt;
    top: 50%;
    transform: translate(0,-50%);
    width: 22%;
    height: 50px;
    background-color: #CD853F;
    border-radius: 20px;
    text-align: center;
}